.hero-section {
  background-image: url("../../assets/images/strawberries-blackberries-and-sliced-fruits-1510693.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  animation: animateHeroImage 15s linear infinite alternate;
  position: relative;
  /* background-attachment: fixed; */
}

@keyframes animateHeroImage {
  0% {
    background-image: url("../../assets/images/salmon-with-bread-and-flower-3504874.jpg");
  }
  50% {
    background-image: url("../../assets/images/strawberries-blackberries-and-sliced-fruits-1510693.jpg");
  }
  100% {
    background-image: url("../../assets/images/anna-volkova-LeU-Tdabc5E-unsplash.jpg");
  }
}
.hero-overlay {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-align: center;
  width: 80%;
  height: 30%;
  overflow: hidden;
}
.hero-text p {
  font-size: 1.8rem;
}

.why-us img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
.testimonial-container {
  position: relative;
}
.testimonials {
  width: 40%;
  margin: auto;
  min-height: 15vh;
  position: relative;
}

.previous-arrow,
.next-arrow {
  width: 5%;
  position: absolute;
  top: 0;
  font-size: 2rem;
  cursor: pointer;
}
.previous-arrow {
  right: 3%;
}
.next-arrow {
  right: 0%;
}
