@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@font-face {
  font-family: Avenir;
  src: url("./assets/font/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: Bentonite;
  src: url("./assets/font/Bentonite.ttf");
}

* {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Avenir", sans-serif;
  font-size: 0.9rem;
  list-style: none;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: white;
}
p {
  margin-bottom: 0.3rem;
  line-height: 1.5;
}
h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 2px;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-top-extra {
  margin-top: 8rem;
}
.margin-top {
  margin-top: 4rem;
}
.margin-bottom {
  margin-bottom: 4rem;
}
.margin-bottom-small {
  margin-bottom: 2rem;
}
.container-width {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-width-extra {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.grid-gap-extra {
  grid-gap: 8rem;
}
/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
  color: white;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
.nav-links {
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-links a {
  color: white;
  text-transform: uppercase;
}
.logo {
  font-family: "Raleway", sans-serif;
  padding-left: 2rem;
  font-size: 2rem;
  color: white;
}
.hamburger {
  display: none;
  margin-left: auto;
  padding-right: 1rem;
  width: 10%;
}
.hamburger svg {
  transform: rotateY(180deg);
  font-size: 1.5rem;
}
.mobile-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: white;

  z-index: 999;
  transition: all 0.4s ease;
}
#fullwidth {
  width: 80vw;
  border: 1px solid #000;
}
#zerowidth {
  width: 0;
  border: none;
}
.mobile-navbar {
  width: 80%;
  margin: auto;
}
.mobile-nav-links li {
  text-align: center;
  margin-bottom: 1rem;
}
.mobile-nav-links li a {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}

/* Footer */
.footer {
  margin-top: 4rem;
  background-color: #000;
  color: white;
}
.footer-nav-links a {
  color: white;
  display: inline-block;
  padding-top: 0.3rem;
}

.footer-links {
  display: inline-block;
  padding-top: 0.3rem;
}
@media (max-width: 991px) {
  .nav-links {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
